@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Wow its my last trimester at Weltec</h1>
    <p>Learn about <a href="https://www.youtube.com/watch?v=3GwjfUFyY6M">building Web apps with ASP.NET Core</a>.</p>
</div>
